doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href=asset('materialize/css/materialize.min.css') media='screen,projection')
        link(rel='stylesheet', href=asset('prism/prism.css'))
        link(rel='stylesheet', href=asset('css/style.css?' + hash))
        link(rel='icon', type='image/png' href=asset('img/favicon.png?' + hash))
        meta(property='og:type', content='website')
        meta(property='og:url', content=site_url + '/' + site_root)
        meta(property='og:image', content=asset('img/blitz-icon.png'))

        block title
            - var title_string = title ? title + ' | Blitz' : 'Blitz Static Site Generator'
            meta(property='og:title', content=title_string)
            title= title_string

        - var description_string = description ? description : 'Blitz is a dead simple yet powerful static site generator running on Node.js, Pug and bits of YAML here and there.'
        meta(name='description', content=description_string)
        meta(property='og:description', content=description_string)
    body
        block body
        script(src=asset('js/jquery.min.js'))
        script(src=asset('materialize/js/materialize.min.js'))
        script(src=asset('prism/prism.js'))
        script(src=asset('js/scripts.js?' + hash))
        script= 'Prism.plugins.autoloader.languages_path = \'' + asset('prism/components/') + '\';'
