ul#mobile-menu.side-nav
    li(class=(url('index') === url() ? 'active' : ''))
        a(href=url('index'))!= '<i class="material-icons left">info_outline</i> Home'
    li(class=(url('docs') === url() ? 'active' : ''))
        a(href=url('docs'))!= '<i class="material-icons left">library_books</i> Documentation'
    li(class=(url('changelog') === url() ? 'active' : ''))
        a(href=url('changelog'))!= '<i class="material-icons left">view_list</i> Changelog'

header
    .navbar-fixed
        nav.indigo.darken-2(role='navigation')
            .nav-wrapper.container
                a#brand-logo.brand-logo(href=url('index'))
                    img(src=asset('img/blitz-logo-white-small.png') alt='Blitz Static Site Generator')
                a.button-collapse(href='#', data-activates='mobile-menu')
                    i.material-icons menu
                ul.right.hide-on-med-and-down
                    li(class=(url('index') === url() ? 'active' : ''))
                        a(href=url('index'))!= '<i class="material-icons left">info_outline</i> Home'
                    li(class=(url('docs') === url() ? 'active' : ''))
                        a(href=url('docs'))!= '<i class="material-icons left">library_books</i> Documentation'
                    li(class=(url('changelog') === url() ? 'active' : ''))
                        a(href=url('changelog'))!= '<i class="material-icons left">view_list</i> Changelog'